/* Layout and spacing */
* {
  margin:  0;
  padding: 0;
}

#page {
  max-width: 60em;
  margin:    0 auto;
}

#header {
  line-height: 6em;
  padding:     0 1.5em;
}

#menu {
  padding: 0 1em;
}

#content {
  padding: 3em 5em;
}

p {
  padding:     .3em 0;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0 0;
}

ul {
  margin: 0 0 0 3em;
}

li {
  padding: .2em 0;
}
